# Ignore list
/*
node_modules/

# Include files we want
!/src
!/tools
!/types
!.gitignore
!.prettierignore
!.prettierrc
!LICENSE
!README.md
!mod.json
!package.json
!package-lock.json
!tsconfig.json
!webpack.config.js
