{
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "importOrder": ["^cs2/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "singleQuote": true
}
